@CHARSET "windows-1256";

.jumbotron {
  margin: 0px auto;
  background: #000000;
  color: floralwhite;
}

.header-title{
	text-align: center;
}  
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}