<!DOCTYPE html>
<html lang="en" ng-app="mediaApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>MetaCDN</title>
    
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="resources/css/styles.css" rel="stylesheet">
	
</head>
<body>
	<header class="jumbotron">
	<div class="container">
        <div class="row row-header">
            <div class="col-xs-12">
                <h1 class="header-title">MetaCDN</h1>
            </div>
        </div>
    </div>
	</header>
	
	
	<div class="container">
        <div class="row row-content" ng-controller="ViewMediaController">
        	<div class="col-xs-12">
        	<p style="padding:20px;"></p>
        		<table class="table table-hover">
        			<thead>
        				<tr>
        				<th>Title <button ng-click="sortByTitle()">sort</button></th>
        				<th>Description</th>
        				<th>Encoding Status</th>
        				<th>Created Time<button ng-click="sortByCreatedTime()">sort</button></th>
        				<th>Status</th>
        				<th>File Size <button ng-click="sortByFileSize()">sort</button></th>
        				<th>Qualities</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr ng-repeat="media in medias">
        					<td>{{media.title}}</td>
        					<td>{{media.description}}</td>
        					<td>{{media.encodingStatus}}</td>
        					<td>{{media.createdTime}}</td>
        					<td>{{media.mediaStatus}}</td>
        					<td>{{media.fileSize}}</td>
        					<td>{{media.qualities}}</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        </div>
    </div>
    <p style="padding:50px;"></p>
    <footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2016 MetaCDN</p>
            </div>
        </div>
    </div>
	</footer>
    
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="resources/js/app.js"></script>
	<script src="resources/js/controllers.js"></script>
	
</body>
</html>